.hide-title h2 {
    display:none;
    visibility: hidden;
}

.full-size-iframe {
    padding: 0;
}

.full-size-iframe h2 {
    display:none;
    visibility: hidden;
}

/* Afficher plus de texte dans les notes */
:root {
    --sd-sv-text-size: 20px;
}

#sd-sv-left {
    width: 30%;
}

#sd-sv-right {
    width: 70%;
}

#sd-sv-notes {
    blockquote {
        background: rgb(222, 215, 186);
        padding-left: 5px;
        border-left: solid 3px rgb(122, 115, 86);
    }
}


body {
    background-image: url(../images/zenika-background.png);
    background-position: bottom 10px left 10px;
    background-repeat: no-repeat;
    background-size: 50px;
}

.breadcrumbs {
    position: absolute;
    overflow: hidden;
    top: 4em;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
}
.sd-slide.sd-current.fade-in {
    transform: translateX(0);
    opacity: 1;
}

.fade-out + .fade-in {
    transform: translateX(0);
    opacity: 0;
    z-index: 1;
}

.sd-slide.sd-previous.fade-out {
    transform: translateX(0);
    opacity: 0;
}
.breadcrumbs {
    position: absolute;
    overflow: hidden;
    top: 4em;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
}