.hide-title h2 {
    display:none;
    visibility: hidden;
}

.full-size-iframe {
    padding: 0;
}

.full-size-iframe h2 {
    display:none;
    visibility: hidden;
}

/* Afficher plus de texte dans les notes */
:root {
    --sd-sv-text-size: 20px;
}

#sd-sv-left {
    width: 40%;
}

#sd-sv-right {
    width: 80%;
}